<mat-list>
  <mat-list-item>
    <form>
      <mat-form-field>
        <input matInput placeholder="Placeholder">
      </mat-form-field>
    </form>
  </mat-list-item>

  <mat-list-item>
    <button mat-raised-button color="primary">Primary</button>
  </mat-list-item>
  
  <mat-list-item>
    <button mat-button color="accent">Accent</button>
  </mat-list-item>

  <mat-list-item>  
    <button mat-icon-button><mat-icon>home</mat-icon></button>
  </mat-list-item>

  <mat-list-item>
      <legend>Options:</legend>
      <mat-list-item>
        <mat-radio-button value="1">Option 1</mat-radio-button>
      </mat-list-item>
      <mat-list-item>
        <mat-radio-button value="2">Option 2</mat-radio-button>
      </mat-list-item>
  </mat-list-item>

  <mat-list-item>
    <mat-spinner [diameter]="36"></mat-spinner>
  </mat-list-item>

  <mat-list-item>
    <mat-chip-list>
      <mat-chip color="warn" selected>Chip</mat-chip>
    </mat-chip-list>
  </mat-list-item>

  <mat-list-item>
    <mat-slider></mat-slider>
  </mat-list-item>
</mat-list>